In [4]:
import pandas as pd
data_url = "https://open.jacksonms.gov/datastore/odata3.0/2fd76604-4378-4e19-9f0f-1bf220825c97?$format=json"


# retrieve json formatted data from url & import as dataframe
df = pd.read_json(data_url, orient="records")

print(df)

    odata.metadata                                              value
0            FIXME  {'Attendance': '1000', 'Revenue': '2550.0000',...
1            FIXME  {'Attendance': '3800', 'Revenue': '5100.0000',...
2            FIXME  {'Attendance': '1300', 'Revenue': '1150.0000',...
3            FIXME  {'Attendance': '4000', 'Revenue': '900.0000', ...
4            FIXME  {'Attendance': '4200', 'Revenue': '5100.0000',...
5            FIXME  {'Attendance': '762', 'Revenue': '1250.0000', ...
6            FIXME  {'Attendance': '7200', 'Revenue': '3350.0000',...
7            FIXME  {'Attendance': '700', 'Revenue': '1250.0000', ...
8            FIXME  {'Attendance': '4000', 'Revenue': '2450.0000',...
9            FIXME  {'Attendance': '2362', 'Revenue': '700.0000', ...
10           FIXME  {'Attendance': '500', 'Revenue': '0.0000', 'Na...
11           FIXME  {'Attendance': '4720', 'Revenue': '5100.0000',...
12           FIXME  {'Attendance': '1400', 'Revenue': '1150.0000',...
13           FIXME  {'Attendance': '1600', 'Revenue': '1050.0000',...
14           FIXME  {'Attendance': '2360', 'Revenue': '1550.0000',...
15           FIXME  {'Attendance': '1700', 'Revenue': '1150.0000',...
16           FIXME  {'Attendance': '1980', 'Revenue': '2550.0000',...
17           FIXME  {'Attendance': '2519', 'Revenue': '5895.7700',...
18           FIXME  {'Attendance': '3200', 'Revenue': '4467.7200',...
19           FIXME  {'Attendance': '1900', 'Revenue': '1150.0000',...
20           FIXME  {'Attendance': '1200', 'Revenue': '1150.0000',...
21           FIXME  {'Attendance': '78', 'Revenue': '300.0000', 'N...
22           FIXME  {'Attendance': '832', 'Revenue': '1250.0000', ...
23           FIXME  {'Attendance': '150', 'Revenue': '400.0000', '...
24           FIXME  {'Attendance': '1500', 'Revenue': '1150.0000',...
25           FIXME  {'Attendance': '100', 'Revenue': '375.0000', '...
26           FIXME  {'Attendance': '3200', 'Revenue': '1550.0000',...
27           FIXME  {'Attendance': '4720', 'Revenue': '5100.0000',...
28           FIXME  {'Attendance': '4724', 'Revenue': '5100.0000',...
29           FIXME  {'Attendance': '1300', 'Revenue': '1350.0000',...
..             ...                                                ...
344          FIXME  {'Attendance': '1865', 'Revenue': '8591.0000',...
345          FIXME  {'Attendance': '200', 'Revenue': '0.0000', 'Na...
346          FIXME  {'Attendance': '0', 'Revenue': '700.0000', 'Na...
347          FIXME  {'Attendance': '166', 'Revenue': '1401.0000', ...
348          FIXME  {'Attendance': '1200', 'Revenue': '1150.0000',...
349          FIXME  {'Attendance': '1690', 'Revenue': '5700.0000',...
350          FIXME  {'Attendance': '1340', 'Revenue': '7520.0000',...
351          FIXME  {'Attendance': '1875', 'Revenue': '7884.0000',...
352          FIXME  {'Attendance': '1200', 'Revenue': '1150.0000',...
353          FIXME  {'Attendance': '1854', 'Revenue': '9062.0000',...
354          FIXME  {'Attendance': '1076', 'Revenue': '5550.0000',...
355          FIXME  {'Attendance': '1360', 'Revenue': '6382.0000',...
356          FIXME  {'Attendance': '1300', 'Revenue': None, 'Name ...
357          FIXME  {'Attendance': '1200', 'Revenue': '1150.0000',...
358          FIXME  {'Attendance': '800', 'Revenue': '0.0000', 'Na...
359          FIXME  {'Attendance': '1002', 'Revenue': '5262.0000',...
360          FIXME  {'Attendance': '200', 'Revenue': '0.0000', 'Na...
361          FIXME  {'Attendance': '1846', 'Revenue': '5748.0000',...
362          FIXME  {'Attendance': '200', 'Revenue': '200.0000', '...
363          FIXME  {'Attendance': '1888', 'Revenue': '4114.0000',...
364          FIXME  {'Attendance': '1162', 'Revenue': '6986.0000',...
365          FIXME  {'Attendance': '900', 'Revenue': '950.0000', '...
366          FIXME  {'Attendance': '4080', 'Revenue': '1400.0000',...
367          FIXME  {'Attendance': '1300', 'Revenue': '1650.0000',...
368          FIXME  {'Attendance': '963', 'Revenue': '4670.0500', ...
369          FIXME  {'Attendance': '2040', 'Revenue': '900.0000', ...
370          FIXME  {'Attendance': '2040', 'Revenue': '1250.0000',...
371          FIXME  {'Attendance': '0', 'Revenue': '0.0000', 'Name...
372          FIXME  {'Attendance': '929', 'Revenue': '1728.0000', ...
373          FIXME  {'Attendance': '1075', 'Revenue': '5375.0000',...

[374 rows x 2 columns]

In [5]:
# manipulate or clean data - nested json to column data
clean_df = df.value.apply(pd.Series)

print(clean_df)

clean_df = clean_df.dropna()

# Wrte new data frame to csv
clean_df.to_csv('clean_data.csv', index=False)

    Attendance    Revenue                                      Name of Event  \
0         1000  2550.0000  R&B Concert featuring Tre' Williams, Calvin Ri...
1         3800  5100.0000                                            Rave On
2         1300  1150.0000                                Beethoven, The Hero
3         4000   900.0000                                  Mississippi Sings
4         4200  5100.0000                                            Camelot
5          762  1250.0000                                Arnez J Comedy Show
6         7200  3350.0000                                     The Nutcracker
7          700  1250.0000                                  Dance Competition
8         4000  2450.0000                                  A Christmas Dream
9         2362   700.0000                                         Graduation
10         500     0.0000               City of Jackson Employee Recognition
11        4720  5100.0000                                   The Wizard of Oz
12        1400  1150.0000                             1812 Overture and More
13        1600  1050.0000                              Renee Fleming Concert
14        2360  1550.0000                               Robin Thicke Concert
15        1700  1150.0000                                A Musical Valentine
16        1980  2550.0000                      Rodney Carrington Comedy Show
17        2519  5895.7700                            I Can't Stop Loving You
18        3200  4467.7200                                          Groovaloo
19        1900  1150.0000        Romantic Preludes and Scandinavian Grandeur
20        1200  1150.0000                                Alice In Wonderland
21          78   300.0000                                         Rehearsals
22         832  1250.0000                             Lil Duvall Comedy Show
23         150   400.0000                                         Rehearsals
24        1500  1150.0000                       Mahler's Symphony No. 2: The
25         100   375.0000                                 All City Orchestra
26        3200  1550.0000                                     Die Fledermaus
27        4720  5100.0000                                   The Color Purple
28        4724  5100.0000                                               Cats
29        1300  1350.0000                                 Spring Performance
..         ...        ...                                                ...
344       1865  8591.0000                                   The Wizard Of Oz
345        200     0.0000                   The Dance Of The Prince Of Egypt
346          0   700.0000                                   Filming On Stage
347        166  1401.0000                                Never Lost My Faith
348       1200  1150.0000                             Bravo IV: Love's Folly
349       1690  5700.0000                              David and Tamela Mann
350       1340  7520.0000                               Chicago: The Musical
351       1875  7884.0000                               Tedeschi Trucks Band
352       1200  1150.0000                          Cirque Goes To The Cinema
353       1854  9062.0000                                 Motown the Musical
354       1076  5550.0000                                        Fleet Foxes
355       1360  6382.0000                   Darren Knight aka Southern Momma
356       1300       None                                 Match Day Ceremony
357       1200  1150.0000                             Bravo V: Epic Elegance
358        800     0.0000                  Mayor Lumumba's Town Hall Meeting
359       1002  5262.0000                     Black Jacket Symphony Presents
360        200     0.0000                                        Spinderella
361       1846  5748.0000                                     Monica Concert
362        200   200.0000                                 All City Rehearsal
363       1888  4114.0000                                           Turnadot
364       1162  6986.0000                                       Celtic Woman
365        900   950.0000                                      Dance Recital
366       4080  1400.0000                                         Graduation
367       1300  1650.0000                                Cradle To The Cross
368        963  4670.0500                                 Sports Awards 2018
369       2040   900.0000                                         Graduation
370       2040  1250.0000                                         Graduation
371          0     0.0000          2018 USA International Ballet Competition
372        929  1728.0000                         Jackson's Gospel Explosion
373       1075  5375.0000                  Malaco 50 Year Gospel Celebration

                                    Leasee        Place  Date  _id  \
0                     Gemini Entertainment  Thalia Mara  2009    1
1                          W. Kessler, LTD  Thalia Mara  2009    2
2                     Mississippi Symphony  Thalia Mara  2009    3
3              Mississippi Music Educators  Thalia Mara  2009    4
4                          W. Kessler, LTD  Thalia Mara  2009    5
5                     The Production Group  Thalia Mara  2009    6
6                       Ballet Mississippi  Thalia Mara  2010    7
7                    Finesse Entertainment  Thalia Mara  2010    8
8                        Ballet Magnificat  Thalia Mara  2010    9
9                         Belhaven College  Thalia Mara  2010   10
10                         City of Jackson  Thalia Mara  2010   11
11                         W. Kessler, LTD  Thalia Mara  2010   12
12                    Mississippi Symphony  Thalia Mara  2010   13
13                       Mississippi Opera  Thalia Mara  2010   14
14                  TLS Management Company  Thalia Mara  2010   15
15                    Mississippi Symphony  Thalia Mara  2010   16
16                        Outback Concerts  Thalia Mara  2010   17
17               Charles Heron Enterprises  Thalia Mara  2010   18
18                         W. Kessler, LTD  Thalia Mara  2010   19
19                    Mississippi Symphony  Thalia Mara  2010   20
20                            Metro Ballet  Thalia Mara  2010   21
21                            Metro Ballet  Thalia Mara  2010   22
22             Chill Wheel Promotions, LAC  Thalia Mara  2010   23
23                    Mississippi Symphony  Thalia Mara  2010   24
24                    Mississippi Symphony  Thalia Mara  2010   25
25                    Mississippi Symphony  Thalia Mara  2010   26
26                       Mississippi Opera  Thalia Mara  2010   27
27   Road Show/Theater League of Louisiana  Thalia Mara  2010   28
28                         W. Kessler, LTD  Thalia Mara  2010   29
29                      Ballet Mississippi  Thalia Mara  2010   30
..                                     ...          ...   ...  ...
344      Innovation Arts and Entertainment  Thalia Mara  2018  345
345   City of Jackson/Parks and Recreation  Thalia Mara  2018  346
346                         Arts Klassical  Thalia Mara  2018  347
347                       P4 Entertainment  Thalia Mara  2018  348
348                   Mississippi Symphony  Thalia Mara  2018  349
349                         By God's Grace  Thalia Mara  2018  350
350      Innovation Arts and Entertainment  Thalia Mara  2018  351
351                              Ardenland  Thalia Mara  2018  352
352                   Mississippi Symphony  Thalia Mara  2018  353
353      Innovation Arts and Entertainment  Thalia Mara  2018  354
354                              Ardenland  Thalia Mara  2018  355
355                 Bang Productions, Inc.  Thalia Mara  2018  356
356        University of MS Medical Center  Thalia Mara  2018  357
357                   Mississippi Symphony  Thalia Mara  2018  358
358                        City of Jackson  Thalia Mara  2018  359
359                              Ardenland  Thalia Mara  2018  360
360   City of Jackson/Parks and Recreation  Thalia Mara  2018  361
361                         By God's Grace  Thalia Mara  2018  362
362                  Mississipppi Symphony  Thalia Mara  2018  363
363                      Mississippi Opera  Thalia Mara  2018  364
364      Innovation Arts and Entertainment  Thalia Mara  2018  365
365              Beverly's School of Dance  Thalia Mara  2018  366
366                       Belhaven College  Thalia Mara  2018  367
367        Kids for Christ Performing Arts  Thalia Mara  2018  368
368                     The Clarion Ledger  Thalia Mara  2018  369
369             St. Joseph Catholic School  Thalia Mara  2018  370
370               Jackson Prep High School  Thalia Mara  2018  371
371                                    IBC  Thalia Mara  2018  372
372   City of Jackson/Parks and Recreation  Thalia Mara  2018  373
373                           Malaco, Inc.  Thalia Mara  2018  374

            Type
0        Concert
1        Concert
2       Symphony
3         Chorus
4        Musical
5         Comedy
6         Ballet
7    Competition
8         Ballet
9     Graduation
10    City Event
11       Musical
12      Symphony
13         Opera
14       Concert
15      Symphony
16        Comedy
17       Concert
18         Dance
19      Symphony
20        Ballet
21        Ballet
22        Comedy
23      Symphony
24      Symphony
25      Symphony
26         Opera
27          Play
28       Musical
29        Ballet
..           ...
344      Musical
345        Dance
346      Filming
347       Chorus
348     Symphony
349       Chorus
350      Musical
351      Concert
352     Symphony
353      Musical
354      Concert
355       Comedy
356   Graduation
357     Symphony
358   City Event
359     Symphony
360      Musical
361      Concert
362     Symphony
363        Opera
364      Concert
365        Dance
366   Graduation
367       Chorus
368        Event
369   Graduation
370   Graduation
371          IBC
372       Chorus
373        Event

[374 rows x 8 columns]

In [6]:
clean_df['Attendance'].median()

1600.0

In [7]:
concert_data = clean_df.loc[clean_df['Type'] == "Concert"]
print(concert_data)

    Attendance     Revenue                                      Name of Event  \
0         1000   2550.0000  R&B Concert featuring Tre' Williams, Calvin Ri...
1         3800   5100.0000                                            Rave On
14        2360   1550.0000                               Robin Thicke Concert
17        2519   5895.7700                            I Can't Stop Loving You
43         800   1250.0000                             Congregation Gone Wild
44        2000   2500.0000                                 Trey Songz Concert
49        1438   2500.0000                             Kevin Hart Comedy Show
63           0      0.0000                                 El DeBarge Concert
70        2350   2500.0000                   Third Day and Tenth Avenue North
76        1855   2550.0000                  Fantasia and Urban Mystic Concert
79        1901   2600.0000                             Jackson Browne Concert
98        1033   2550.0000                           Gordon Lightfoot Concert
103       2300   1250.0000                              Glen Campbell Concert
110       2350   2550.0000                              Alison Krauss Concert
112       2350   2001.0000                                      Wilco Concert
117       2350   1250.0000                                    Benefit Concert
122       2350   2750.0000                         Gaither Vocal Band Concert
126       2300   2550.0000                            Need to Breathe Concert
130       2200   2550.0000                                 John Prine Concert
138       2359   2550.0000                                  B.B. King Concert
140       4718   5100.0000                                     Blue Man Group
147       2800   5100.0000                                        Elvis Lives
151       2362    500.0000                                     The Band Perry
153       1067   2550.0000                                       Lyell Lovett
160       1493   2550.0000                                        YES Concert
163       1539   2850.0000                                        Bryan Adams
164       2219   2590.0000                                   Anthony Hamilton
166       1400   5100.0000                                       Rock Legends
168       2022   2550.0000                                   The Black Crowes
179          0   1250.0000                              Willie Nelson Concert
..         ...         ...                                                ...
250        838   1726.0000                                     Hip Hop Awards
251       1519   6783.0000                               Tedeschi Trucks Band
256       1097   5951.0000                                              Yanni
257        914   4638.0000                              Lyfe Jennings Concert
260       1602   4218.0000                                Paul Porter Concert
261        836   4668.0000                          Melissa Etheridge Concert
263       2069   8461.0000                                     Blue Man Group
265       2098   8640.0000                               Robert Plant Concert
270       4167  17022.0000                           Widespread Panic Concert
272       1801   3708.0000                               Brian Wilson Concert
273       1838   8718.0000                                       Celtic Woman
275       1493   6705.0000                               Gregg Allman Concert
277        668   2004.0000                                    Floetry Concert
283        662   3311.6700              St. Paul and The Broken Bones Concert
284       2051   8586.0000                         Harry Connick, Jr. Concert
289       1124   3064.0000                             Band of Horses Concert
297       2040      0.0000                                  Bob Dylan Concert
305       1119   5527.0000                                               Once
306       1371   6346.0000                     Rain: A Tribute To The Beatles
312          0    500.0000                                   Decades Rewinded
316       1948   8157.0000                      Jason Isbell and The 400 Unit
317       1274   6057.0000                              Black Jacket Symphony
318       2100   3727.0000                                The Doobie Brothers
319       2036   8421.0000                                 The Avett Brothers
323       2204   9162.0000                                        Momma's Boy
330        726   3546.0000                              Kirk Franklin Concert
351       1875   7884.0000                               Tedeschi Trucks Band
354       1076   5550.0000                                        Fleet Foxes
361       1846   5748.0000                                     Monica Concert
364       1162   6986.0000                                       Celtic Woman

                                            Leasee        Place  Date  _id  \
0                             Gemini Entertainment  Thalia Mara  2009    1
1                                  W. Kessler, LTD  Thalia Mara  2009    2
14                          TLS Management Company  Thalia Mara  2010   15
17                       Charles Heron Enterprises  Thalia Mara  2010   18
43                 Unstoppable Entertainment, Inc.  Thalia Mara  2010   44
44                                       The Group  Thalia Mara  2010   45
49                                Outback Concerts  Thalia Mara  2010   50
63                     Family Affair Entertainment  Thalia Mara  2011   64
70                                Awakening Events  Thalia Mara  2011   71
76                     Family Affair Entertainment  Thalia Mara  2011   77
79                                National Shows 2  Thalia Mara  2011   80
98                        Larry Schaeffer Presents  Thalia Mara  2012   99
103                                The Mind Center  Thalia Mara  2012  104
110                          National Shows 2, LLC  Thalia Mara  2012  111
112                                      Ardenland  Thalia Mara  2012  113
117                                 Stuart C. Irby  Thalia Mara  2012  118
122                            Premier Productions  Thalia Mara  2012  123
126                     Red Mountain Entertainment  Thalia Mara  2012  127
130                               Outback Concerts  Thalia Mara  2012  131
138                       Larry Schaeffer Presents  Thalia Mara  2013  139
140                                 W. Kessler LTD  Thalia Mara  2013  141
147                                W. Kessler, LTD  Thalia Mara  2013  148
151  University of Mississippi dba/The Mind Center  Thalia Mara  2013  152
153                                      Ardenland  Thalia Mara  2013  154
160                                      Ardenland  Thalia Mara  2013  161
163                             Beaver Productions  Thalia Mara  2013  164
164                      Three Kings Entertainment  Thalia Mara  2013  165
166                                W. Kessler, LTD  Thalia Mara  2013  167
168                                      Ardenland  Thalia Mara  2013  169
179                       Larry Schaeffer Presents  Thalia Mara  2013  180
..                                             ...          ...   ...  ...
250                                City of Jackson  Thalia Mara  2016  251
251                                      Ardenland  Thalia Mara  2016  252
256              Innovation Arts and Entertainment  Thalia Mara  2016  257
257                    Xperience Jxn Entertainment  Thalia Mara  2016  258
260                 Perspective Entertainment, LLC  Thalia Mara  2016  261
261                                      Ardenland  Thalia Mara  2016  262
263              Innovation Arts and Entertainment  Thalia Mara  2016  264
265                                      Ardenland  Thalia Mara  2016  266
270                                      Ardenland  Thalia Mara  2016  271
272           University of Mississippi Foundation  Thalia Mara  2016  273
273              Innovation Arts and Entertainment  Thalia Mara  2016  274
275                                      Ardenland  Thalia Mara  2016  276
277                    Xperience Jxn Entertainment  Thalia Mara  2016  278
283                                      Ardenland  Thalia Mara  2016  284
284                                      Ardenland  Thalia Mara  2016  285
289                                      Ardenland  Thalia Mara  2016  290
297                                      Ardenland  Thalia Mara  2016  298
305              Innovation Arts and Entertainment  Thalia Mara  2017  306
306              Innovation Arts and Entertainment  Thalia Mara  2017  307
312                    Decades Entertainment, Inc.  Thalia Mara  2017  313
316                                      Ardenland  Thalia Mara  2017  317
317                                      Ardenland  Thalia Mara  2017  318
318           University of Mississippi Foundation  Thalia Mara  2017  319
319                                      Ardenland  Thalia Mara  2017  320
323                                      Ardenland  Thalia Mara  2017  324
330                                      Ardenland  Thalia Mara  2017  331
351                                      Ardenland  Thalia Mara  2018  352
354                                      Ardenland  Thalia Mara  2018  355
361                                 By God's Grace  Thalia Mara  2018  362
364              Innovation Arts and Entertainment  Thalia Mara  2018  365

        Type
0    Concert
1    Concert
14   Concert
17   Concert
43   Concert
44   Concert
49   Concert
63   Concert
70   Concert
76   Concert
79   Concert
98   Concert
103  Concert
110  Concert
112  Concert
117  Concert
122  Concert
126  Concert
130  Concert
138  Concert
140  Concert
147  Concert
151  Concert
153  Concert
160  Concert
163  Concert
164  Concert
166  Concert
168  Concert
179  Concert
..       ...
250  Concert
251  Concert
256  Concert
257  Concert
260  Concert
261  Concert
263  Concert
265  Concert
270  Concert
272  Concert
273  Concert
275  Concert
277  Concert
283  Concert
284  Concert
289  Concert
297  Concert
305  Concert
306  Concert
312  Concert
316  Concert
317  Concert
318  Concert
319  Concert
323  Concert
330  Concert
351  Concert
354  Concert
361  Concert
364  Concert

[76 rows x 8 columns]

In [10]:
from bokeh.plotting import figure, output_file, show
from bokeh.models import ColumnDataSource
from bokeh.models.tools import HoverTool

from bokeh.palettes import Set3_10
from bokeh.transform import factor_cmap


output_file("revenue_barplot.html")
# Convert Revenue column to floats to sum
clean_df['Revenue'] = clean_df['Revenue'].astype(float)
# Group data by Date
grouped = clean_df.groupby('Date')['Revenue'].sum()

print(grouped)

Date
2009     16050.00
2010     93638.49
2011     92237.32
2012     75251.00
2013     90547.43
2014     67016.00
2015    155918.31
2016    214761.20
2017    130920.18
2018    141346.25
Name: Revenue, dtype: float64

In [11]:
source = ColumnDataSource(pd.DataFrame(grouped))
dates = source.data['Date'].tolist()
p = figure(x_range=dates)
color_map = factor_cmap(field_name='Date', palette=Set3_10, factors=dates)

p.vbar(x='Date', top='Revenue', source=source, width=0.70, color=color_map)

p.title.text ='Jackson Event Revenue by Year'
p.xaxis.axis_label = 'Year'
p.yaxis.axis_label = 'Revenue'

show(p)